* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Noto+Sans:wght@100&family=Poppins&family=Rubik:wght@300&display=swap');

body {
    font-family: 'Poppins', Arial;
    color: #FFF;
    font-size: 16px;
    background: linear-gradient(to right, #5527F5, #131FA8)
}

html {
    scroll-behavior: smooth;
}

/* ///////// HEADER /////////// */

header {
    background: #050E5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}

#logo img {
    width: 200px;
}

ul.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 40px;
}

ul.menu li a {
    font-weight: bold;
    font-size: 1.1rem;
    color: #FFF;
    text-decoration: none;
}

ul.menu li a:hover {
    color: #0086FF;
    cursor: pointer;
    transition: all 0.5s;
}

.botao a, article a{
    border-radius: 8px;
    text-decoration: none;
    padding: 12px 20px;
    color: #FFF;
    font-weight: bold;
    background-color: #0086FF;
}

#logo {
    cursor: pointer;
}

.botao a:hover, article a:hover{
    background-color: #FFF;
    color: #0086FF;
    transition: all 0.5s;
}

.menu-responsivo {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu, .botao, nav {
        display: none;
    }

    .menu-responsivo {
        display: flex;
    }

    #logo img {
        width: 150px;
    }
}

/* /////// HOME ///////// */

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
}

#home h1 {
    font-size: 1.5rem;
}

#home article, #home aside {
    width: 50%;
    display: flex;
    justify-content: center;
}

#home article {
    flex-direction: column;
    gap: 40px;
    padding-left: 90px;
}

#home aside img {
    width: 300px;
}

article a {
    font-size: 1.3rem;
    padding: 20px 25px;
}

@media screen and (max-width: 768px) {
    #home {
        flex-direction: column;
        gap: 70px;
        justify-content: inherit;
        margin-bottom: 40px;
        padding: 0;
    }

    #home h1 {
        font-size: 1.3rem;
    }

    #home article, #home aside {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #home article {
        flex-direction: column;
        padding: 70px 35px 35px 35px;
    }

    #home aside img {
        width: 240px;
    }

    article a {
        font-size: 1.3rem;
        padding: 14px 19px;
    }

}

/* ///////// MEDICINA E IA ////////// */

#medicinaEia {
    background-color: #5527F5;
    padding-bottom: 50px;
}

.titulo {
    font-size: 1.5rem;
    text-align: center;
    padding: 40px;
}

.texto {
    display: flex;
}

.texto aside, .texto article {
    width: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.texto h1 {
    font-size: 1rem;
    padding: 60px;
}

.img {
    width: 250px;
}

@media screen and (max-width: 768px) {
    .texto h1 {
        font-size: 1rem;
        padding: 40px;
    }

    .texto article {
        width: 70%;
    }

    .texto aside {
        width: 30%;
    }

    .img {
        width: 100px;
    }


}

/* /////// QUEM SOMOS /////// */

#quem-somos {
    padding: 40px;
}

.conteudo-quem-somos {
    display: flex;
    gap: 30px;
}

#quem-somos aside, #quem-somos article {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 768px) {
    .conteudo-quem-somos article h1 {
        font-size: 1rem;
        text-align: center;
    }

    #quem-somos article {
        width: 100%;
    }

    #quem-somos aside {
        display: none;
    }
}

/* ////// CONTATO ///////// */

#contato {
    background: #5527F5;
}

.conteudo-contato {
    padding: 10px 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.conteudo-input {
    flex: 1 0 20rem;
}

.conteudo-input input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    outline: none;
}

.textbox {
    flex: 2 0 20rem;
}

.textbox textarea {
    width: 100%;
    height: 120px;
    outline: none;
    border: none;
    border-radius: 10px;
    resize: none;
    padding: 20px;
    font-size: 1rem;
}

.btn {
    width: 100%;
    padding: 30px 150px;
    display: flex;
    justify-content: flex-end;
}

.btn button {
    border: none;
    outline: none;
    font-weight: bolder;
    font-size: 1rem;
    color: white;
    border-radius: 8px;
    padding: 10px 80px;
    background-color: #0086FF;
}

.btn button:hover {
    color: #0086FF ;
    background: white;
    transition: all 0.5s;
    cursor: pointer;
}

@media screen and (min-width: 1400px) {
    .conteudo-input {
        flex: 1 0 50rem;
    }
    
}

@media screen and (max-width: 768px) {

    .conteudo-contato {
        padding: 20px 40px;

    }

    #contato


    .conteudo-input input {
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        border: none;
        border-radius: 8px;
        outline: none;
    }

    .textbox textarea {
        height: 100px;
    }

    .btn {
        padding: 20px 38px;
    }

    .btn button {
        width: 100%;
        font-size: 1.3rem;
        color: white;
        border-radius: 8px;
        padding: 15px 70px;
        background-color: #0086FF;
    }
    
}

/* ////// FOOTER /////// */

footer {
    background: #050E5D;
    padding: 40px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer h1 {
    font-size: 1rem;
}

.redes-sociais ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

@media screen and (max-width: 768px) {

    footer {
        padding: 20px;
    }
    footer h1 {
        text-align: center;
        width: 100%;
        font-size: 0.8rem;
    }
}
